@font-face {
	font-family: 'MuseoSans', sans-serif;
	src: url('../fonts/MuseoSansCyrl-500.eot'),
		 url('../fonts/MuseoSansCyrl-500.woff'),
		 url('../fonts/MuseoSansCyrl-500.ttf'),
		 url('../fonts/MuseoSansCyrl-900.eot'),
		 url('../fonts/MuseoSansCyrl-900.ttf'),
		 url('../fonts/MuseoSansCyrl-900.woff');
}
@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('../fonts/Roboto-Regular.ttf'),
		 url('../fonts/Roboto-Medium.ttf'),
		 url('../fonts/Roboto-Bold.ttf');
}
@font-face {
	font-family: 'Lato', sans-serif;
	src: url('../fonts/Lato-Regular.ttf');
}

html, body {
	margin: 0;
	font-size: 16px;
}
a {
	text-decoration: none;
	outline: none;
}
body *{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: inherit;
}
img{
	width: 100%;
	height: 100%;
}

header {
	height: 50px;
	background: #fff;
}
.inner {
	max-width: 940px;
	padding: 0 10px;
}
header .inner {
	margin: 0 auto 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.linkRow {
	display: inline-block;
	vertical-align: middle;
}
.linkRow a {
	display: inline-block;
	height: 49px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 3px solid #fff;
	font-weight: 400;
	font-size: 0.81rem;
	color: #222222;
	letter-spacing: 0.08em;
	padding-top: 18px;
	margin-left: 27px;
}
.linkRow a:hover {
	border-bottom: 3px solid #f2958d;
}
.searchAndBuy {
	display: inline-block;
	margin-left: 50px;
}
.searchAndBuy a {
	display: inline-block;
	font-size: 0.81rem;
	padding-top: 18px;
	height: 32px;
	width: 30px;
	text-align: center;
}
.searchBtn {
	margin-right: 20px;
}
.cartBtn {
	position: relative;
}
.cartCost {
	position: absolute;
    display: none;
    top: 32px;
    left: -1px;
    min-width: 36px;
    padding-top: 2px;
    font-size: 0.7rem;
    height: 13px;
    color: #fd0606;
    border: 2px solid;
    border-radius: 20px;
}
.leftMenuBar {
	display: none;
	height: 50px;
	width: 50px;
	font-size: 1rem;
}
.inputForSearch {
	visibility: hidden;
    border: 1px solid;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 0;
    height: 1.5rem;
    transition: 0.5s;
}
.-visibleContent {
	visibility: visible;
}
.-hideContent {
	display: none !important;
}
.-showContent {
	display: block;
}
.inputWidth {
	width: 200px;
}
.-readyToSearch {

}





/*SLIDER*/
.slide{
	height: 595px;
}
.slide .inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin: auto;
	height: inherit;
}
.slide .colOne {
	max-width: 500px;
}
.slide .colTwo {
	max-width: 400px;
}
.slideOne {
	background: url('../image/slideBack.jpg') center/cover;
}
.slideTwo {
	background: linear-gradient(145deg, rgba(64,131,140,1) 0%, rgba(151,208,237,1) 100%);
}
.slideThree {
	background: linear-gradient(90deg, rgba(151,208,237,1) 0%, rgba(122,206,168,1) 100%)
}
.slide h1 {
	font-size: 2.5rem;
	color: #fff;
	letter-spacing: 0.1em;
	font-weight: 600;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.slide h4 {
	margin-top: 0.85rem;
	font-size: 1.56rem;
	color: #f2958d;
	letter-spacing: 0.1em;
	font-weight: 600;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.slide p {
	margin-top: 1.87rem;
	color: #fff;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.56rem;
	letter-spacing: 0.05em;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.slide a {
	display: inline-block;
	margin-top: 2.5rem;
	font-weight: 400;
	font-size: 0.85rem;
	color: #fff;
	background: #75bcc6;
	width: 126px;
	padding: 13px 0;
	border-radius: 25px;
	text-align: center;

	transition: 0.5s;
}
.slide a:hover {
	border-radius: 5px;
	background: #ffa67e;
}
.slick-arrow {
	font-size: 0;
	position: absolute;
	z-index: 1;
	border: none;
	background: none;
	top: calc(50% - 45px);
	outline: none;
	cursor: pointer;
}
.slick-prev:before {
	content: '';
	display: inline-block;
	height: 85px;
	width: 25px;
	background: url('../image/arrow-prev.png') center/cover;
}
.slick-prev {
	left: calc( 50% - 575px);
}
.slick-next {
	right: calc( 50% - 575px);
}
.slick-next:before {
	content: '';
	display: inline-block;
	height: 85px;
	width: 25px;
	background: url('../image/arrow-next.png') center/cover;
}
.slick-dots {
	display: inline-block;
    height: 27px;
    width: 100px;
    list-style: none;
    position: absolute;
    bottom: 45px;
    left: calc(50% - 30px);
    padding: 0;
    clear: both;
}
.slick-dots button {
	display: inline-block;
	float: left;
	font-size: 0;
	width: 25px;
	border: 2px solid #fff0;
	border-radius: 50%;
	background: none;
	padding: 3.5px 0;
	margin-right: 5px;
	transition: 0.3s;
	vertical-align: middle;
	outline: none;
}
.slick-dots button:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
}
li.slick-active button {
	width: 25px;
	padding: 5.5px 0;
	border: 2px solid #f2958d;
	background-color: none;
}
li.slick-active button:before {
	width: 10px;
	height: 10px;
	background-color: #f2958d;
}

/*PRODCUT*/
.featuredProduct {
	padding: 46px 0 61px;
}
.featuredProduct .inner {
	margin: auto;
}
.featuredProduct .rowOne {
	font-size: 0;
}
.containerProduct > * {
	display: block;
}
.featuredProduct h2 {
	text-align: center;
	font-weight: 500;
	font-size: 2.18rem;
	color: #5d5d5d;
	letter-spacing: 0.075rem;
	margin-bottom: 54px;
}
.productItem {
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	height: 297px;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
	font-size: 0;
	margin-bottom: 20px;
	background-color: #f5f5f5;
}
 .productItem:nth-child(2n + 1){
	margin-right: 20px;
}
.productItem .colOne {
	display: inline-block;
	width: 220px;
	height: inherit;
	vertical-align: bottom;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: 120px 223px;
	background-size: 120px 223px;
	position: relative;
}
.-backImg1 {
	background-image: url('../image/Winter Dress.png');
}
.-backImg2 {
	background-image: url('../image/Summer Dress.png');
}
.-backImg3 {
	background-image: url('../image/Autumn Dress.png');
}
.-backImg4 {
	background-image: url('../image/Spring Dress.png');
}

.productItem .colTwo {
	display: inline-block;
	width: 240px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 20px;
	height: inherit;
	background-color: #fff;
}
.productItem b {
	font-size: 1.37rem;
	font-weight: 500;
	color: #5a5a5a;
}
.productItem p {
	color: #999999;
	font-size: 0.85rem;
	letter-spacing: 0.04em;
	line-height: 1.18rem;
	margin: 15px 0;
}
.spanStProduct {
	font-weight: 600;
	font-size: 0.75rem;
	color: #8a8a8a;
	letter-spacing: 0.04rem;
	display: inline-block;
	vertical-align: middle;
}
.quanityButtons,
.colorButtons {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.quanityButtons {
	height: 17px;
	border-radius: 8px;
    overflow: hidden;
    background: #8abec6;
    color: #fff;
}
.quanityBtn {
	border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.quanityNum {
	font-size: 0.75rem;
	font-family: 'MuseoSans', sans-serif;
}
.productData {
	display: none;
}
.productColor {
	display: none;
}
.colorChoose {
	margin-top: 11px;
}
.colorBtn {
	border-radius: 50%;
	border: none;
	background: #fe0;
	width: 10px;
	height: 12px;
	cursor: pointer;
	margin-right: 0.625rem;
	outline: none;
}
.-backGreen {
	background-color: #a9d45e;
}
.-backBlue {
	background-color: #75bcc6;
}
.-backRed {
	background-color: #f2958d;
}
.productItem h6 {
	font-weight: 500;
	color: #40838c;
	font-size: 1.25rem;
	letter-spacing: 0.075em;
	margin-top: 16px;
}
.productItem .buyBtn {
	margin-top: 10px;
	border: none;
	background-color: #40838c;
	width: 112px;
	height: 29px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	font-size: 0.93rem;
	transition: 0.5s;
	cursor: pointer;
}
.productItem .buyBtn:hover {
	border-radius: 10px;
	background-color: #f2958d;
}
.productItem .buyBtn:focus {
	border-radius: 5px;
	background-color: #fff;
	color: #f2958d;
	border: 2px solid #f2958d;
	outline: none;
}
.productItem .zoomBlock {
	display: none;
	width: inherit;
	height: inherit;
	position: absolute;
	background: #ececec85;
}
.productItem .colOne a {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 25px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.productItem .colOne:hover  .zoomBlock{
	display: block;
}




@media all and (max-width: 1200px) {
	html, body {
		font-size: 14px;
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
}
@media all and (max-width: 970px) {
	.containerProduct .productItem {
		display: block;
		width: fit-content;
		margin: 0 auto 20px;
	}
}
@media all and (max-width: 500px) {
	.productItem {
		height: 250px;
	}
	.productItem .colOne {
		width: 170px;
	}
	.productItem .colTwo {
		width: 170px;
		padding: 20px 10px;
	}
}
@media all and (max-width: 400px) {
	.productItem .colOne {
		width: 130px;
		background-size: 100px 153px;
	}
}
@media all and (max-width: 700px) {
	html, body {
		font-size: 12px;
	}
	.leftMenuBar {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	nav {
		display: none;
		position: absolute;
		right: 0;
		top: 49px;
		background: white;
		height: calc(100vh - 50px);
		padding-left: 10px;
		overflow: hidden;
		z-index: 1;
	}
	.linkRow,
	.searchAndBuy {
		display: block;
		width: 200px;
		margin: 0;
	}
	.linkRow a,
	.searchAndBuy a{
		display: block;
		margin: 0;
	}
	.inputForSearch {
		visibility: visible;
		display: inline-block;
		width: 150px;
	}
	a.searchBtn {
		display: inline-block;
	}

	.-blockContent {
		display: block;
	}
	.slide {
		height: 400px;
	}
	.slider .slide .inner {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
	.slideTwo p,
	.slideThree p {
		display: none;
	}
	.slide .colTwo {
		display: none;
	}
	.slider .slideThree .inner{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}